.appWrapper {
  a {
    text-decoration: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 45px;
  height: 100%;
  min-height: 100vh;
  background-color: #ffdf8c;

  @media (max-width: 650px) {
    padding: 20px 25px;
  }

  .app {
    background-color: #ffffff;
    max-width: 1340px;
    padding: 12px;
    width: 100%;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    .container {
      width: 100%;
      max-width: 1225px;
    }
  }
}
